.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  align-items: left;
  padding: 30px;
}

/** Form Style from sanwebe.com */
.form-style-2 {
  max-width: 800px;
  padding: 20px 12px 10px 20px;
  font: 13px Arial, Helvetica, sans-serif;
}
.form-style-2-heading {
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
  font-size: 15px;
  padding-bottom: 3px;
}
.form-style-2 label {
  display: block;
  margin: 0px 0px 15px 0px;
}
.form-style-2 label > span {
  width: 300px;
  font-weight: bold;
  float: left;
  padding-top: 8px;
  padding-right: 5px;
  margin-bottom: 5px;
}
.form-style-2 span.required {
  color: red;
}
.form-style-2 .tel-number-field {
  width: 40px;
  text-align: center;
}
.form-style-2 input.input-field,
.form-style-2 .select-field {
  width: 100%;
}
.form-style-2 input.input-field,
.form-style-2 .tel-number-field,
.form-style-2 .textarea-field,
.form-style-2 .select-field {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #c2c2c2;
  box-shadow: 1px 1px 4px #ebebeb;
  -moz-box-shadow: 1px 1px 4px #ebebeb;
  -webkit-box-shadow: 1px 1px 4px #ebebeb;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 7px;
  outline: none;
}
.form-style-2 .input-field:focus,
.form-style-2 .tel-number-field:focus,
.form-style-2 .textarea-field:focus,
.form-style-2 .select-field:focus {
  border: 1px solid #3abff0;
}
.form-style-2 .textarea-field {
  height: 100px;
  width: 80%;
}
/** End of Form Style from sanwebe.com */

/* label{
  padding: 10px 0px;
  font-size: 18px;
}
input[type="text"]{
  margin: 10px 0px 10px 10px;
  align-self: right;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(165, 164, 164);
}
#name{
  width: 252px;
}
#position{
  width: 236px;
}
#phone{
  width: 178px;
} */
.submit-btn {
  text-align: center;
  margin: 0px 5px;
  font-size: 16px;
  padding: 8px 20px;
  border: none;
  text-transform: uppercase;
  background-color: #00aeef;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  transition: all 0.2s;
  align-self: center;
  box-shadow: 1px 1px 4px #dadada;
  -moz-box-shadow: 1px 1px 4px #dadada;
  -webkit-box-shadow: 1px 1px 4px #dadada;
  flex: 1 1 0;
  max-width: 100px;
}

.submit-btn:hover {
  background-color: #516670;
}
.submit-btn-container {
  display: flex;
  margin-top: 15px;
  justify-content: center;
}
.display-none {
  display: none;
}

/*
.display-name{
  color: #00aeef;
  font-size: 28px;
  font-weight: 500
}
.display-position{
  font-size: 16px;
  font-weight: 500
}
.display-number{
  font-size: 12px;
  font-weight: 300
}

} */

/**
Beginning of signature CSS
**/
@import url("https://vayyar.s3.eu-central-1.amazonaws.com/alvaressentialalt-medium-webfont.woff");
@import url("https://vayyar.s3.eu-central-1.amazonaws.com/alvaressentialalt-semiboldit-webfont.woff");

@font-face {
  font-family: AlvarEssentialAlt-Medium;
  src: url("https://vayyar.s3.eu-central-1.amazonaws.com/alvaressentialalt-medium-webfont.woff");
}

@font-face {
  font-family: AlvarEssentialAlt-SemiBold;
  src: url("https://vayyar.s3.eu-central-1.amazonaws.com/alvaressentialalt-semiboldit-webfont.woff");
}

.presentational-container {
  padding: 0px;
  background-color: #fff;
  margin: 5px auto 20px;
  display: flex;
  justify-content: center;
}

.outer-table {
  box-shadow: 2px 2px 10px 5px;
  padding: 5px;
}

table {
  background: none;
  margin: 0;
  padding: 0px;
  border-width: 0 0 0 0;
  border-style: solid;
  border-color: #516670;
}

.left-cell {
  border-left: none;
  border-top: none;
  border-bottom: none;
  padding-right: 7px;
  width: 145px;
}
.img-logo {
  width: 145px;
  border-radius: 0;
  padding-left: 10px;
}
img.social {
  padding-left: 5px;
  padding-right: 5px;
  border-left: 1px solid #009ddd;
  height: 20px;
}
img.social-odd {
  padding-left: 5px;
  padding-right: 5px;
  height: 20px;
}
.social-logos.outlook {
  text-align: right;
}
.social-logos.outlook img {
  padding: 0px;
  border: none;
  display: inline-block;
}
.outlook-span {
  padding: 0px 3px;
  font-size: 20pt;
  font-family: "Arial", sans-serif;
  text-decoration: none;
}
.outlook-span.last{
  padding-right: 0px;
}
td.description-cell {
  padding: 0 0 0 12px;
  border-left: 0.5px solid #516670;
}

td.description-cell table {
  background: none;
  border: 0px;
  margin: 0;
  padding: 0;
}

td.display-name {
  color: #009ddd;
  font-size: 18px;
  font-weight: bold;
  font-family: AlvarEssentialAlt-SemiBold, sans-serif;
  padding: 0px;
}
.smaller {
  font-size: 16px !important;
  font-weight: bold;
}
.smallest {
  font-size: 14px !important;
  font-weight: bold;
}

td.display-position {
  color: #516670;
  font-size: 14px;
  font-weight: bold;
  font-family: AlvarEssentialAlt-Medium, sans-serif;
  padding: 0px;
}

td.display-number {
  padding-bottom: 0px;
  vertical-align: bottom;
  color: #516670;
  font-size: 12px;
  font-family: AlvarEssentialAlt-Medium, sans-serif;
  padding: 0px;
}

td.website a {
  color: #4bafdb;
  text-decoration: none;
  font-weight: normal;

  font-size: 14px;
}

li.colored {
  border-left: 0.5px solid #009ddd;
  opacity: 1;
  padding-left: 5px;
}

li.last {
  padding-right: 10px;
}

.CopyPane {
  padding-top: 20px;
  text-align: center;
}
.CopyPane > button {
  margin-top: 0px;
  padding: 14px 25px;
  max-width: 300px;
}

.instructions {
  max-width: 650px;
  margin: 10px auto;
  padding: 0px 20px;
}

h3 {
  color: #516670;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  margin-left: 0px;
  padding-left: 0px;
}
ol li {
  counter-increment: my-awesome-counter;
}
ol li::before {
  content: counter(my-awesome-counter) "";
  color: #3abff0;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0px;
  border-bottom: #516670 1px solid;
  padding: 2px;
  align-content: center;
}

.screenshot {
  width: 400px;
  display: block;
  margin: 20px auto 5px;
}
